*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.welcome-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(135deg,#07111d,#0f172a,#111827);

    padding:20px;

}

.welcome-card{

    width:100%;

    max-width:600px;

    padding:50px;

    border-radius:30px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

    text-align:center;

    color:white;

    animation:fade .8s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.logo{

font-size:70px;

margin-bottom:15px;

}

.welcome-card h1{

font-size:2.5rem;

color:#22c55e;

margin-bottom:15px;

}

.welcome-card h2{

margin-bottom:10px;

font-weight:600;

}

.welcome-card h3{

font-size:2rem;

margin-bottom:25px;

color:#ffffff;

}

.quote{

font-size:1.1rem;

line-height:1.8;

color:#d1d5db;

margin-bottom:35px;

}

.language-card{

background:rgba(255,255,255,.08);

padding:20px;

border-radius:18px;

margin-bottom:35px;

}

.language-card span{

display:block;

color:#cbd5e1;

margin-bottom:10px;

}

.language-card h2{

font-size:2rem;

color:#22c55e;

letter-spacing:2px;

}

.start-btn{

width:100%;

padding:16px;

font-size:1.1rem;

font-weight:bold;

background:#22c55e;

border:none;

border-radius:15px;

color:white;

cursor:pointer;

transition:.3s;

}

.start-btn:hover{

transform:translateY(-4px);

background:#16a34a;

box-shadow:0 15px 35px rgba(34,197,94,.35);

}

.footer-text{

margin-top:35px;

font-size:.9rem;

color:#9ca3af;

}