:root {
  --primary: #0f172a;
  --primary-hover: #1e293b;

  --background: #f8fafc;
  --card: #ffffff;

  --border: #e5e7eb;

  --text: #0f172a;
  --subtext: #64748b;

  --challenge: #f59e0b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}